/* (local) select count(*) from 
[dbo].[account]
[dbo].[account_money_balance]
[dbo].[account_money_hystory]
[dbo].[account_verb]
[dbo].[account_word]
[dbo].[language]
[dbo].[verb]
[dbo].[verb_type]
[dbo].[word]
[dbo].[word_language]

[dbo].[answer]
[dbo].[category]
[dbo].[currency]
[dbo].[currency_rate]
[dbo].[domain]
[dbo].[domain_word]
[dbo].[domain_word_language]
[dbo].[exercise_answer_text]
[dbo].[exercise_select]
[dbo].[exercise_select_text]
[dbo].[exercise_skip_text]
[dbo].[exercise_text_answer]
[dbo].[film_category]
[dbo].[film_category_language]
[dbo].[film_order]
[dbo].[film_player]
[dbo].[fm]
[dbo].[fm_language]
[dbo].[fm_order]
[dbo].[level]
[dbo].[level_quiz]
[dbo].[picture]
[dbo].[rating]
[dbo].[site]
[dbo].[tv]
[dbo].[tv_language]
[dbo].[tv_order]
[dbo].[user_comment]
[dbo].[user_comment_rates_and_claims]
[dbo].[user_password_for_course]
[dbo].[word_order]
[dbo].[word_order_quiz]
[dbo].[word_quiz]

[dbo].[article]
[dbo].[article_category_language]
[dbo].[course]
[dbo].[module]
[dbo].[payment]
[dbo].[film]

[dbo].[film_part] 
[dbo].[exercise_text]
   */

    