<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="server=(local);database=wordz;persistsecurityinfo=false;uid=wordz_user;pwd=p@ssw0rd;packet size=4096"/> 
		<add key="SoundPath" value="D:\Test\LearnWords\Src\Wordz\Wordz.DB\res\sound\"/> 
		<add key="UseSoundFiles" value="false"/> 
		<add key="TranscriptRussianWords" value="false"/> 
	</appSettings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
